.speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }


  @media only screen and (max-width: 600px) {
    /* Adjust the max-width value as needed for your specific case */
    .navbar-logo {
      content: url('../../../images/ecart2.png'); /* Update the path accordingly */
    }
  }